<div class="container my-3">
  <h1 class="text-center">All Listings</h1>
  
  <div id="listings" class="row">
    <%= render "listing" %>
  </div>

  <div id="paginator">
  	<%= paginate @listing, :remote => true %>
  </div>
</div>
