<div id="landing-header">
	<h1>Welcome to Airbnb!</h1>
	<a href="/listings" class="btn btn-lg btn-success">View All Listings</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
