<div class="container my-3">
  <h1 class="text-center">All Reseervations</h1>
  
  <div id="reservation" class="row">
    <%= render "reservation" %>
  </div>

  <div id="paginator">
  	<%= paginate @reservation, :remote => true %>
  </div>
</div>